<div _ngcontent-gqx-c2="" class="kt-grid__item kt-grid__item--fluid kt-app__content" style="margin: 5%;" id="kt_chat_content">
    <div _ngcontent-gqx-c2="" class="kt-chat">
        <div _ngcontent-gqx-c2="" class="kt-portlet kt-portlet--head-lg kt-portlet--last">
            <div _ngcontent-gqx-c2="" class="kt-portlet__head">
                <div _ngcontent-gqx-c2="" class="kt-chat__head ">
                    <div _ngcontent-gqx-c2="" class="kt-chat__left">
                        <button _ngcontent-gqx-c2="" class="btn btn-clean btn-sm btn-icon btn-icon-md kt-hidden-desktop" id="kt_chat_aside_mobile_toggle" type="button">
                            <i _ngcontent-gqx-c2="" class="flaticon2-open-text-book"></i>
                        </button>
                        <div _ngcontent-gqx-c2="" class="dropdown dropdown-inline">
                            <button _ngcontent-gqx-c2="" aria-expanded="false" aria-haspopup="true" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" type="button">
                                <i _ngcontent-gqx-c2="" class="flaticon-more-1"></i>
                            </button>
                            <div _ngcontent-gqx-c2="" class="dropdown-menu dropdown-menu-fit dropdown-menu-left dropdown-menu-md">
                                <ul _ngcontent-gqx-c2="" class="kt-nav">
                                    <li _ngcontent-gqx-c2="" class="kt-nav__item">
                                        <a _ngcontent-gqx-c2="" class="kt-nav__link" href="#">
                                            <i _ngcontent-gqx-c2="" class="kt-nav__link-icon flaticon2-group"></i>
                                            <span _ngcontent-gqx-c2="" class="kt-nav__link-text">New Group</span>
                                        </a>
                                    </li>
                                    <li _ngcontent-gqx-c2="" class="kt-nav__item">
                                        <a _ngcontent-gqx-c2="" class="kt-nav__link" href="#">
                                            <i _ngcontent-gqx-c2="" class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                            <span _ngcontent-gqx-c2="" class="kt-nav__link-text">Contacts</span>
                                        </a>
                                    </li>
                                    <li _ngcontent-gqx-c2="" class="kt-nav__item">
                                        <a _ngcontent-gqx-c2="" class="kt-nav__link" href="#">
                                            <i _ngcontent-gqx-c2="" class="kt-nav__link-icon flaticon2-rocket-1"></i>
                                            <span _ngcontent-gqx-c2="" class="kt-nav__link-text">Groups</span>
                                            <span _ngcontent-gqx-c2="" class="kt-nav__link-badge">
                                                <span _ngcontent-gqx-c2=""
                                                    class="kt-badge kt-badge--brand kt-badge--inline">
                                                    new
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li _ngcontent-gqx-c2="" class="kt-nav__item">
                                        <a _ngcontent-gqx-c2="" class="kt-nav__link" href="#">
                                            <i _ngcontent-gqx-c2="" class="kt-nav__link-icon flaticon2-bell-2"></i>
                                            <span _ngcontent-gqx-c2="" class="kt-nav__link-text">Calls</span>
                                        </a>
                                    </li>
                                    <li _ngcontent-gqx-c2="" class="kt-nav__item">
                                        <a _ngcontent-gqx-c2="" class="kt-nav__link" href="#">
                                            <i _ngcontent-gqx-c2="" class="kt-nav__link-icon flaticon2-dashboard"></i>
                                            <span _ngcontent-gqx-c2="" class="kt-nav__link-text">Settings</span>
                                        </a>
                                    </li>
                                    <li _ngcontent-gqx-c2="" class="kt-nav__separator"></li>
                                    <li _ngcontent-gqx-c2="" class="kt-nav__item">
                                        <a _ngcontent-gqx-c2="" class="kt-nav__link" href="#">
                                            <i _ngcontent-gqx-c2="" class="kt-nav__link-icon flaticon2-protected"></i>
                                            <span _ngcontent-gqx-c2="" class="kt-nav__link-text">Help</span>
                                        </a>
                                    </li>
                                    <li _ngcontent-gqx-c2="" class="kt-nav__item">
                                        <a _ngcontent-gqx-c2="" class="kt-nav__link" href="#">
                                            <i _ngcontent-gqx-c2="" class="kt-nav__link-icon flaticon2-bell-2"></i>
                                            <span _ngcontent-gqx-c2="" class="kt-nav__link-text">Privacy</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-gqx-c2="" class="kt-chat__center">
                        <div _ngcontent-gqx-c2="" class="kt-chat__label">
                            <a _ngcontent-gqx-c2="" class="kt-chat__title" href="#">Jason Muller</a>
                            <span _ngcontent-gqx-c2="" class="kt-chat__status">
                                <span _ngcontent-gqx-c2="" class="kt-badge kt-badge--dot kt-badge--success"></span> Active
                            </span>
                        </div>
                        <div _ngcontent-gqx-c2="" class="kt-chat__pic kt-hidden">
                            <span _ngcontent-gqx-c2="" class="kt-userpic kt-userpic--sm kt-userpic--circle" data-original-title="Jason Muller" data-placement="right" data-toggle="kt-tooltip" title="">
                                <img _ngcontent-gqx-c2="" alt="image" src="./assets/media/users/300_12.jpg" />
                            </span>
                            <span _ngcontent-gqx-c2="" class="kt-userpic kt-userpic--sm kt-userpic--circle" data-original-title="Nick Bold" data-placement="right" data-toggle="kt-tooltip" title="">
                                <img _ngcontent-gqx-c2="" alt="image" src="./assets/media/users/300_11.jpg" />
                            </span>
                            <span _ngcontent-gqx-c2="" class="kt-userpic kt-userpic--sm kt-userpic--circle" data-original-title="Milano Esco" data-placement="right" data-toggle="kt-tooltip" title="">
                                <img _ngcontent-gqx-c2="" alt="image" src="./assets/media/users/100_14.jpg" />
                            </span>
                            <span _ngcontent-gqx-c2="" class="kt-userpic kt-userpic--sm kt-userpic--circle" data-original-title="Teresa Fox" data-placement="right" data-toggle="kt-tooltip" title="">
                                <img _ngcontent-gqx-c2="" alt="image" src="./assets/media/users/100_4.jpg" />
                            </span>
                        </div>
                    </div>
                    <div _ngcontent-gqx-c2="" class="kt-chat__right">
                        <div _ngcontent-gqx-c2="" class="dropdown dropdown-inline">
                            <button _ngcontent-gqx-c2="" aria-expanded="false" aria-haspopup="true" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" type="button">
                                <i _ngcontent-gqx-c2="" class="flaticon2-add-1"></i>
                            </button>
                            <div _ngcontent-gqx-c2="" class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-md">
                                <ul _ngcontent-gqx-c2="" class="kt-nav">
                                    <li _ngcontent-gqx-c2="" class="kt-nav__head">
                                        Messaging
                                        <i _ngcontent-gqx-c2="" class="flaticon2-information" data-original-title="Click to learn more..." data-placement="right" data-toggle="kt-tooltip" title=""></i>
                                    </li>
                                    <li _ngcontent-gqx-c2="" class="kt-nav__separator"></li>
                                    <li _ngcontent-gqx-c2="" class="kt-nav__item">
                                        <a _ngcontent-gqx-c2="" class="kt-nav__link" href="#">
                                            <i _ngcontent-gqx-c2="" class="kt-nav__link-icon flaticon2-group"></i>
                                            <span _ngcontent-gqx-c2="" class="kt-nav__link-text">New Group</span>
                                        </a>
                                    </li>
                                    <li _ngcontent-gqx-c2="" class="kt-nav__item">
                                        <a _ngcontent-gqx-c2="" class="kt-nav__link" href="#">
                                            <i _ngcontent-gqx-c2="" class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                            <span _ngcontent-gqx-c2="" class="kt-nav__link-text">Contacts</span>
                                            <span _ngcontent-gqx-c2="" class="kt-nav__link-badge">
                                                <span _ngcontent-gqx-c2=""
                                                    class="kt-badge kt-badge--brand  kt-badge--rounded-">
                                                    5
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li _ngcontent-gqx-c2="" class="kt-nav__item">
                                        <a _ngcontent-gqx-c2="" class="kt-nav__link" href="#">
                                            <i _ngcontent-gqx-c2="" class="kt-nav__link-icon flaticon2-bell-2"></i>
                                            <span _ngcontent-gqx-c2="" class="kt-nav__link-text">Calls</span>
                                        </a>
                                    </li>
                                    <li _ngcontent-gqx-c2="" class="kt-nav__item">
                                        <a _ngcontent-gqx-c2="" class="kt-nav__link" href="#">
                                            <i _ngcontent-gqx-c2="" class="kt-nav__link-icon flaticon2-dashboard"></i>
                                            <span _ngcontent-gqx-c2="" class="kt-nav__link-text">Settings</span>
                                        </a>
                                    </li>
                                    <li _ngcontent-gqx-c2="" class="kt-nav__item">
                                        <a _ngcontent-gqx-c2="" class="kt-nav__link" href="#">
                                            <i _ngcontent-gqx-c2="" class="kt-nav__link-icon flaticon2-protected"></i>
                                            <span _ngcontent-gqx-c2="" class="kt-nav__link-text">Help</span>
                                        </a>
                                    </li>
                                    <li _ngcontent-gqx-c2="" class="kt-nav__separator"></li>
                                    <li _ngcontent-gqx-c2="" class="kt-nav__foot">
                                        <a _ngcontent-gqx-c2="" class="btn btn-label-brand btn-bold btn-sm" href="#">
                                            Upgrade plan
                                        </a>
                                        <a _ngcontent-gqx-c2="" class="btn btn-clean btn-bold btn-sm" data-original-title="Click to learn more..." data-placement="right" data-toggle="kt-tooltip" href="#" title="">
                                            Learn more
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div _ngcontent-gqx-c2="" class="kt-portlet__body" style="padding: 60px;">


                <div class="kt-login__options">
                    <div class="cont" style="text-align: center;display: grid;box-shadow: 5px 5px 12px gray;border-radius: 10px;">
                        <a style="line-height: 30px;color: white;" class="btn btn-primary kt-btn" (click)="tryFacebookLogin()">
                            <i class="fab fa-facebook-f"></i> Log in to show Message
                        </a>
                    </div>
                </div>


                <!-- teste  -->


                <!-- end teste -->




            </div>
            <div _ngcontent-gqx-c2="" class="kt-portlet__foot">
                <div _ngcontent-gqx-c2="" class="kt-chat__input">
                    <div _ngcontent-gqx-c2="" class="kt-chat__editor">
                        <textarea _ngcontent-gqx-c2="" placeholder="Type here..." style="height: 50px"></textarea>
                    </div>
                    <div _ngcontent-gqx-c2="" class="kt-chat__toolbar">
                        <div _ngcontent-gqx-c2="" class="kt_chat__tools">
                            <a _ngcontent-gqx-c2="" href="#"><i _ngcontent-gqx-c2="" class="flaticon2-link"></i></a>
                            <a _ngcontent-gqx-c2="" href="#">
                                <i _ngcontent-gqx-c2="" class="flaticon2-photograph"></i>
                            </a>
                            <a _ngcontent-gqx-c2="" href="#">
                                <i _ngcontent-gqx-c2="" class="flaticon2-photo-camera"></i>
                            </a>
                        </div>
                        <div _ngcontent-gqx-c2="" class="kt_chat__actions">
                            <button _ngcontent-gqx-c2="" class="btn btn-brand btn-md btn-upper btn-bold kt-chat__reply" type="button">
                                reply
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>